    /*
     * Base structure
     */


/* Move down content because we have a fixed navbar that is 50px tall */
body {
   padding-left: 10px;
   padding-top: 50px;
   font-size: 16px;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background-color: var(--background-color);
  color: var(--text-color);
 }


a {
    color: var(--link-color);
}


a:hover {
    text-decoration: underline;
    color: var(--hover-color);
 
}


.mw-parser-output a.external {
    color: var(--external-link-color);
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: var(--toc2-background-color) !important;
}


.tocnumber {
 color: var(--text-color); 
}


button {
  background-color:  var(--toc-background-color);
  color: var(--text-color);
}

button:hover {
  background-color: #808080 !important;
}

.toc, .toccolours  {
        margin-top: 20px;
     	background-color:  var(--toc-background-color);
        color: var(--text-color);
}

.navbox th, .navbox-title,  .navbox th, .navbox-title, .infobox-header, .infobox-header th  {
   background-color:  var(--head-background-color);
   color: var(--text-color);
}

.infobox, .navbox, .navbox-list, .infobox, .infobox-subheader, .sidebar-content, .sidebar, .blockquote  {
        background-color:  var(--toc-background-color);
        color: var(--text-color);
}

.navbox-subgroup .navbox-group, .navbox-subgroup .navbox-abovebelow {
   background-color:  var(--head-background-color);
   color: var(--text-color);
}

.mw-parser-output .sidebar {
      background-color:  var(--toc-background-color);
      color: var(--text-color);
}


.mw-parser-output .quotebox .quotebox.floatleft  {
      background-color:  var(--toc-background-color);
      color: var(--text-color);
}


.navbox-abovebelow, th.navbox-group, .navbox-subgroup .navbox-title {
   background-color:  var(--head-background-color);
   color: var(--text-color);
}

.mw-parser-output .unsolved {
   background-color:  var(--toc-background-color);
   color: var(--text-color);
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-right, .navbar-brand, .container-fluid .navbar-brand, .navbar { 
   background-color: #343a40;
 }

.nv-view, .nv-talk, .nv-edit  {
    background-color:  var(--head-background-color);
}

.wikitable th {
	background-color:  var(--white-background-color) !important;
        color: var(--text-color) !important;
}

table {
    background-color:  var(--toc-background-color) !important;
    color: var(--text-color) !important;
}


td, th {
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
}


.thumbcaption, .thumbinner {
  background-color:  var(--toc-background-color) !important;
  color: var(--text-color) !important;
}


        /*
        * Global add-ons
        */

        .sub-header {
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

        /*
        * Top navigation
        * Hide default border to remove 1px line.
        */
        .navbar-fixed-top {
            border: 0;
        }

        /*
        * Sidebar
        */

        /* Hide for mobile, show later */
        .sidebarFS {
            display: none;
        }
        @media (min-width: 768px) {

	  .sidebarFS {
                position: fixed;
                top: 51px;
                bottom: 0;
                left: 0;
                z-index: 1000;
                display: block;
                padding: 20px;
                overflow-x: hidden;
                overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                background-color: var(--sitebar-background-color);
		border-right: 1px solid #eee;
                width: 200px;
            }
        }

        /* Sidebar navigation */
        .nav-sidebarFS {
            margin-right: -21px; /* 20px padding + 1px border */
            margin-bottom: 20px;
            margin-left: -20px;
            font-size: 14px;

    }
        .nav-sidebarFS > li > a {
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 4px;
            padding-bottom: 4px;

    }
        .nav-sidebarFS > .active > a,
        .nav-sidebarFS > .active > a:hover,
        .nav-sidebarFS > .active > a:focus {
            color: #fff;
            background-color: #428bca;
        }


        /*
        * Main content
        */
        .main {
            padding: 20px;
        }

        @media (min-width: 768px) {
            .main {
                padding-right: 40px;
                padding-left: 220px;
            }
        }
        .main .page-header {
            margin-top: 0;
        }



@media (max-width:767px) {

  .navbar-header {
    display:flex;
  }

  .footerseek {
   text-align: left;
   padding-left: 20px;
  }

  .navbar-brand {
    order:1;
  }

  .navbar-toggle {
    order:0;
    margin-left:15px;
    margin-right:0;
  }

}
